<div class="row">

    <form action="/tasks" method="post">
        <div class="col">

            <input type="checkbox" placeholder="completed" name="completed" class="form-check-input">
        </div>
        <div class="col">

            <input type="text" placeholder="user" name="user" class="input-group-text">
        </div>
        <div class="col">

            <input type="text" placeholder="title" name="title" class="input-group-text">
        </div>
        <input type="text" placeholder="description" name="description" class="input-group-text">

        <input type="datetime-local" placeholder="completedDate" name="completedDate" class="input-group-text">
        <button type="submit" id="postQuote">Submit</button>

    </form>

</div>